<figure class="banner">
  {{- with .page_href -}}
  <a href="{{ . }}">
  {{- end -}}

  <img src="{{ .resource.RelPermalink }}" alt="{{ .alt }}" />
  <!-- <div id="owl-main" class="owl-carousel">
  <img src="img/Header_Conference_small.jpg" alt="{{ .alt }}" />
  <img src="img/Header_Writing_small.jpg" alt="{{ .alt }}" />
  </div> -->

  {{- with .page_href -}}
  </a>
  {{- end -}}

  {{- if or .caption .href }}
    <figcaption class="metadata">

      {{- with .href -}}
      <a href="{{ . }}">
      {{- end -}}

        {{- with .caption -}} {{ . }} {{- end -}}

      {{- with .href -}}
      </a>
      {{- end -}}

    </figcaption>
  {{- end }}
</figure>
