<nav class="nav">
  <div class="nav__content container metadata">
    <div class="nav_logo">Star Medical Editing</div>
      <div class="nav__home">
        <a class="nav__home_a" href="{{ .Site.Params.navHome }}">Home</a>
      </div>

      <div class="nav__home">
        <a class="nav__home_a" href="{{ .Site.Params.navHome }}#services">Services</a>
      </div>

      <div class="nav__home">
        <a class="nav__home_a" href="{{ .Site.Params.navHome }}#pricing">Pricing</a>
      </div>

      <div class="nav__home">
        <a class="nav__home_a" href="{{ .Site.Params.navHome }}#about">About</a>
      </div>

      <div class="nav__home">
        <a class="nav__home_a" href="{{ .Site.Params.navHome }}#submit">Submit</a>
      </div>
      
    {{- with .Site.Menus.main }}
    <ul class="inline-list">
      {{- range . }}
      <li class="inline-list__item nav__home">
        {{- .Pre -}}
        <a class="nav__home_a" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{- .Post -}}
      </li>
      {{- end }}
    </ul>
    {{- end }}

    <div class="nav__home">
      <a class="nav__home_a" href="{{ .Site.Params.navBlog }}">Blog</a>
    </div>
  </div>
</nav>