<!doctype html>
<html {{ with .Site.Language.Lang -}} lang="{{ . }}" {{- end }}>
{{ partial "head" . }}
<body>
  {{ partial "nav" . }}
  <!-- <div id="owl-main" class="owl-carousel">
    <div class="item" style="background-image: url('img/Header_Conference_small.jpg')">
      <div class="container animate__animated animate__fadeInDown animate__delay-1s">
        <div class="caption vertical-center">
          <div class="grip_header">
            <div>
              <h1 class="class_1">Maximize Your Impact</h1>
              <p class="fadeInDown-2 class_2">with Our English Proofreading Services</p>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image: url('img/Header_Writing_small.jpg')">
      <div class="container animate__animated animate__fadeInDown animate__delay-1s">
        <div class="caption vertical-center">
          <div class="grip_header">
            <div>
              <h1 class="fadeInDown-1 light-color class_1">Focus on What Matters
              </h1>
              <p class="fadeInDown-2 medium-color class_2">Leave the English to Us</p>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
  <main>
    {{- block "main" . -}}{{- end -}}
  </main>
  {{ partial "footer" . }}

  <script src="{{ .Site.Params.jqueryjs }}"></script>
  <script src="{{ .Site.Params.carouseljs }}"></script>

  <script src="{{ .Site.Params.scriptjs }}"></script>
</body>
</html>